{% extends 'base.html.twig' %}

{% block title %}La Casserai{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">la Casserai
            <small class="lead">All Inclusive Resort</small>.
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" data-src="holder.js/750x500/auto" src="{{ asset('images/clearshot.jpg') }}">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Inleiding</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3 class="my-3">Hotel Details </h3>
                <ul>
                    <li class="lead">Animatie is toegankelijk voor kinderen vanaf 8 jaar</li>
                    <li>Waterpark</li>
                    <li>Sauna's</li>
                    <li>Stand</li>
                    <li>Massages</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">Related Projects</h3>

        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <p class="lead font-weight-normal">Ben je opzoek naar een hotel om goed te ontspannen en helemaal tot rust te komen! wacht niet langer en reserveer snel een kamer bij ons!</p>
        <a class="btn btn-outline-primary" href="reservering">Reserveer nu!</a>
    </div>
</div>

<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Prachtig uitzicht! <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Onze locatie staat om bekent voor zijn prachtige zons ondergangs! U kunt vanuit het hotel hemelsbreed kijken, weg dromen in de oneindige zee. En daarnaast kijken naar alle mooie verlichtingen die overal opgehangen zijn voor een spectaculaire sweer!</p>
            <p class="lead">Wilt u meer weten over de liching van het resort, dat kan!</p><a class="btn btn-outline-info" href="/">Lees meer</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{{ asset('images/view.jpg') }}">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">Ondervind het zelf!</span></h2>
            <p class="lead">Ons resort is all inclusive, dat houdt in dat u elke dag kunt genieten van de vele gerechten die warm voor u klaar word gemaakt! daarnaast kunt u goed tot rust komen in het resort, wij proberen zo min mogelijk geluids overlast te vooroorzaken voor de prefecte ervaring die u nooit zult vergeten! Iedereen zult met open armen onvangen worden.</p>
            <p class="lead">Wilt u meer weten over de al het eten dat wij serveren door de dag?</p><a class="btn btn-outline-info" href="/">Lees meer</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{{ asset('images/inside.jpg') }}">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly. <span class="text-muted">Waterpark!</span></h2>
            <p class="lead">In ons resort zullen heel veel verschillende soort waterglijbanen zijn! Er zal dus voor iedereen genoeg keuzen zijn, om goed te vermaken!</p>
            <p class="lead">Het park zal elke dag om 08:00 geopent worden, om 17:00 zullen we het weer dicht doen, om alles weer op te knappen voor de volgende dag!</p>
            <p class="lead">Wilt u meer weten over ons waterpark in het resort?</p><a class="btn btn-outline-info" href="/">Lees meer</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{{ asset('images/pool.jpg') }}">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-3 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <p class="lead">Overtuigt om te gaan boeken! doe dat snel! Klikt hieronder om te reserveren.</p>
            <a class="btn btn-outline-primary" href="reservering">Reserveer nu!</a>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}
