<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="../public/styles/template.css">
    <link href="../public/styles/template.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

        <div class="d-flex flex-column flex-md-row align-items-center p-3 mb-3 bg-white border-bottom box-shadow">
            <h4 class="my-0 mr-md-auto font-weight-normal">la Casserai</h4>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">Home</a>
                <a class="p-2 text-dark" href="/lijstbeschikbaar">Huren</a>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="p-2 text-dark" href="/reservering">Resevering</a>
                    <a class="p-2 text-dark" href="/kamer">Kamer</a>
                    <a class="p-2 text-dark" href="/extras">Extras</a>
                    <a class="p-2 text-dark" href="/soort">Soort</a>
                    <a class="p-2 text-dark" href="/seizoen">Seizoen</a>
                {% endif %}
                <a class="p-2 text-dark" href="/fotos">Foto's</a>
                <a class="p-2 text-dark" href="/contact">Contact</a>

                {% if app.user %}
                    <a class="p-2 text-dark" href="/user">Profiel</a>
                {% else %}

                {% endif %}

            </nav>
            <div class="btn-group btn-group-toggle">
                {% if app.user %}
                    <a class="btn btn-outline-dark my-2 my-sm-0" href="/logout">Logout {{ app.user }}</a>
                {% else %}
                    <a class="btn btn-outline-dark my-2 my-sm-0" href="/login/">Login</a>
                    <a class="btn btn-outline-dark my-2 my-sm-0" href="/register/">Registreer</a>
                {% endif %}
            </div>
        </div>

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    <div class="container">

    {% block body %} {% endblock %}
    {% block javascripts %}{% endblock %}

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<footer class="pt-4 my-md-5 pt-md-5 border-top bg-light">
    <div class="row">
        <div class="col-12 col-md">
        </div>
        <div class="col-6 col-md">
            <h5>Pagina's</h5>
            <ul class="list-unstyled text-small">

                <li><a class="text-muted" href="/">Home</a></li>
                <li><a class="text-muted" href="lijstbeschikbaar">Huren</a></li>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a class="text-muted" href="/reservering">Resevering</a></li>
                    <li><a class="text-muted" href="/kamer">Kamer</a></li>
                    <li><a class="text-muted" href="/extras">Extras</a></li>
                    <li><a class="text-muted" href="/soort">Soort</a></li>
                    <li><a class="text-muted" href="/seizoen">Seizoen</a></li>
                {% endif %}

                {% if app.user %}
                <a class="text-muted" href="/user">Profiel</a>
                {% else %}

                {% endif %}

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Social Media</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://www.facebook.com/">Facebook</a></li>
                <li><a class="text-muted" href="https://www.instagram.com/">Instagram</a></li>
                <li><a class="text-muted" href="https://pinterest.com/">Pinterest</a></li>
                <li><a class="text-muted" href="https://linkedin.com/">Linkin</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Over Ons</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/fotos">Foto's</a></li>
                <li><a class="text-muted" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>

</html>